<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Roller Derby Games | Home</title>
</head>
<body>

<h1>Roller Derby</h1>
<h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>
	<form th:action="@{/logout}" method="post">
		<input class="btn btn-sm btn-danger" type="submit" value="Sign Out"/>
	</form>
<a href="/teams">Show all teams</a> <a href="/addgame">Add games</a>

<h2>Played Games</h2>
<table>
	<tr>
		<th>#</th>
		<th>Date</th>
		<th>Venue</th>
		<th>Home Team</th>
		<th>Visiting Team</th>
		<th>Score</th>
		<th>Score difference</th>
		<th>Edit</th>
		<th sec:authorize="hasAuthority('ADMIN')">Delete</th>
	</tr>
	<tr th:each = "game : ${games}">
		<th:block th:unless="${game.scoreHomeTeam}-${game.scoreVisitingTeam} == 0">
			<td th:text= "${game.id}"></td>
			<td th:text= "${game.date}"></td>
			<td th:text= "${game.venue}"></td>
			<td th:text= "${game.homeTeam?.name}"></td>
			<td th:text= "${game.visitingTeam?.name}"></td>
			<td th:text= "${game.scoreHomeTeam} + '-' + ${game.scoreVisitingTeam}"></td>
			<td th:text= "${game.scoreHomeTeam}-${game.scoreVisitingTeam}"></td>
			<td><a th:href="@{/editgame/{id}(id=${game.id})}">E</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deletegame/{id}(id=${game.id})}">x</a></td>
		</th:block>
	</tr>
</table>

<h2>Upcoming Games</h2>
<table>
	<tr>
		<th>#</th>
		<th>Date</th>
		<th>Venue</th>
		<th>Home Team</th>
		<th>Visiting Team</th>
		<th>Edit</th>
		<th sec:authorize="hasAuthority('ADMIN')">Delete</th>

	</tr>
	<tr th:each = "game : ${games}">
		<th:block th:if="${game.scoreHomeTeam}-${game.scoreVisitingTeam} == 0">
			<td th:text= "${game.id}"></td>
			<td th:text= "${game.date}"></td>
			<td th:text= "${game.venue}"></td>
			<td th:text= "${game.homeTeam?.name}"></td>
			<td th:text= "${game.visitingTeam?.name}"></td>
			<td><a th:href="@{/editgame/{id}(id=${game.id})}">E</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deletegame/{id}(id=${game.id})}">x</a></td>
		</th:block>

	</tr>
</table>

</body>
</html>