<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Roller Derby Games | Home</title>
</head>
<body>
<h1>Roller Derby</h1>
<h2>Played Games</h2>
<table>
	<tr>
		<th>#</th>
		<th>Date</th>
		<th>Venue</th>
		<th>Home Team</th>
		<th>Visiting Team</th>
		<th>Score</th>
		<th>Score difference</th>
	</tr>
	<tr th:each = "game : ${games}">
		<th:block th:unless="${game.scoreHomeTeam}-${game.scoreVisitingTeam} == 0">
			<td th:text= "${game.id}"></td>
			<td th:text= "${game.date}"></td>
			<td th:text= "${game.venue}"></td>
			<td th:text= "${game.homeTeam?.name}"></td>
			<td th:text= "${game.visitingTeam?.name}"></td>
			<td th:text= "${game.scoreHomeTeam} + '-' + ${game.scoreVisitingTeam}"></td>
			<td th:text= "${game.scoreHomeTeam}-${game.scoreVisitingTeam}"></td>
		</th:block>
	</tr>
</table>

<h2>Upcoming Games</h2>
<table>
	<tr>
		<th>#</th>
		<th>Date</th>
		<th>Venue</th>
		<th>Home Team</th>
		<th>Visiting Team</th>

	</tr>
	<tr th:each = "game : ${games}">
		<th:block th:if="${game.scoreHomeTeam}-${game.scoreVisitingTeam} == 0">
			<td th:text= "${game.id}"></td>
			<td th:text= "${game.date}"></td>
			<td th:text= "${game.venue}"></td>
			<td th:text= "${game.homeTeam?.name}"></td>
			<td th:text= "${game.visitingTeam?.name}"></td>
		</th:block>

	</tr>
</table>
</body>
</html>