<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Roller Derby Games | Teams</title>
</head>
<body>
<h1>All teams</h1>
<table>
	<tr>
		<th>Team name</th>
		<th>Acronym</th>
		<th>City</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	<tr th:each = "team : ${teams}">
		<td th:text= "${team.name}"></td>
		<td th:text= "${team.acronym}"></td>
		<td th:text= "${team.city}"></td>
		<td sec:authorize="isAuthenticated()"><a th:href="@{/editteam/{id}(id=${team.id})}">E</a>
		<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${team.id})}">x</a></td>
		
	</tr>
</table>
<a href="/addteam">Add Team</a> <a href="/">return</a>
</body>
</html>